USE [master]
GO
/****** Objeto: Database [BD_SENATI_ASISTENCIA] Fecha de script: 13/06/2026 11:47:07 ******/
CREATE DATABASE [BD_SENATI_ASISTENCIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SENATI_ASISTENCIA', FILENAME = N'C:\SQLData\BD_SENATI_ASISTENCIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_SENATI_ASISTENCIA_log', FILENAME = N'C:\SQLData\BD_SENATI_ASISTENCIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SENATI_ASISTENCIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SENATI_ASISTENCIA]
GO
/****** Objeto: User [jhona_x] Fecha de script: 13/06/2026 11:47:07 ******/
CREATE USER [jhona_x] FOR LOGIN [jhona_x] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [jhona_x]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [jhona_x]
GO
/****** Objeto: Table [dbo].[tb_especialidades] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_especialidades](
	[id_especialidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[caracteristicas] [varchar](300) NULL,
	[usuario_registra] [int] NOT NULL,
	[f_registro] [datetime2](0) NOT NULL,
	[usu_modifica] [int] NULL,
	[f_modificacion] [datetime2](0) NULL,
	[vigencia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tb_estudiantes] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_estudiantes](
	[id_estudiante] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[codigo] [varchar](20) NOT NULL,
	[dni] [char](8) NOT NULL,
	[apellido] [varchar](80) NOT NULL,
	[nombre] [varchar](80) NOT NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](120) NULL,
	[genero] [char](1) NULL,
	[direccion] [varchar](180) NULL,
	[apoderado] [varchar](120) NULL,
	[telefono_apoderado] [varchar](20) NULL,
	[usuario_registra] [int] NOT NULL,
	[f_registro] [datetime2](0) NOT NULL,
	[usu_modifica] [int] NULL,
	[f_modificacion] [datetime2](0) NULL,
	[vigencia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[detalle_estudiante_especialidad] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_estudiante_especialidad](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_estudiante] [int] NOT NULL,
	[id_especialidad] [int] NOT NULL,
	[semestre] [tinyint] NOT NULL,
	[fecha_inicio] [date] NOT NULL,
	[fecha_fin] [date] NULL,
	[vigencia] [bit] NOT NULL,
	[usuario_registra] [int] NOT NULL,
	[f_registro] [datetime2](0) NOT NULL,
	[usu_modifica] [int] NULL,
	[f_modificacion] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tb_asistencia] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_asistencia](
	[id_asistencia] [int] IDENTITY(1,1) NOT NULL,
	[id_detalle] [int] NOT NULL,
	[estado] [char](1) NOT NULL,
	[fecha_asistencia] [date] NOT NULL,
	[hora_registro] [time](0) NULL,
	[f_hora] [datetime2](0) NOT NULL,
	[observacion] [varchar](200) NULL,
	[usuario_registra] [int] NOT NULL,
	[f_registro] [datetime2](0) NOT NULL,
	[usu_modifica] [int] NULL,
	[f_modificacion] [datetime2](0) NULL,
	[vigencia] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_asistencia_detalle_fecha] UNIQUE NONCLUSTERED 
(
	[id_detalle] ASC,
	[fecha_asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_resumen_asistencia] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_resumen_asistencia]
AS
SELECT
    a.id_asistencia,
    e.id_estudiante,
    e.codigo,
    CONCAT(e.apellido, ' ', e.nombre) AS estudiante,
    esp.nombre AS especialidad,
    d.semestre,
    a.estado,
    CASE a.estado
        WHEN 'P' THEN 'Temprano'
        WHEN 'T' THEN 'Tarde'
        WHEN 'F' THEN 'Inasistencia'
    END AS estado_texto,
    a.fecha_asistencia,
    a.hora_registro,
    a.f_hora,
    a.observacion
FROM dbo.tb_asistencia a
INNER JOIN dbo.detalle_estudiante_especialidad d ON d.id_detalle = a.id_detalle
INNER JOIN dbo.tb_estudiantes e ON e.id_estudiante = d.id_estudiante
INNER JOIN dbo.tb_especialidades esp ON esp.id_especialidad = d.id_especialidad
WHERE a.vigencia = 1
  AND d.vigencia = 1
  AND e.vigencia = 1
  AND esp.vigencia = 1;
GO
/****** Objeto: Table [dbo].[tb_roles] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_roles](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[tb_usuarios] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[id_rol] [int] NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[clave_hash] [char](64) NOT NULL,
	[nombres] [varchar](80) NOT NULL,
	[apellidos] [varchar](80) NOT NULL,
	[correo] [varchar](120) NULL,
	[vigencia] [bit] NOT NULL,
	[f_registro] [datetime2](0) NOT NULL,
	[usu_modifica] [int] NULL,
	[f_modificacion] [datetime2](0) NULL,
	[foto_perfil] [varchar](180) NULL,
	[debe_cambiar_clave] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_asistencia_fecha_estado] Fecha de script: 13/06/2026 11:47:07 ******/
CREATE NONCLUSTERED INDEX [IX_asistencia_fecha_estado] ON [dbo].[tb_asistencia]
(
	[fecha_asistencia] ASC,
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [IX_estudiantes_nombre_codigo] Fecha de script: 13/06/2026 11:47:07 ******/
CREATE NONCLUSTERED INDEX [IX_estudiantes_nombre_codigo] ON [dbo].[tb_estudiantes]
(
	[codigo] ASC,
	[apellido] ASC,
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_estudiantes_usuario_activo] Fecha de script: 13/06/2026 11:47:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_estudiantes_usuario_activo] ON [dbo].[tb_estudiantes]
(
	[id_usuario] ASC
)
WHERE ([id_usuario] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] ADD  DEFAULT (CONVERT([date],getdate())) FOR [fecha_inicio]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] ADD  DEFAULT ((1)) FOR [vigencia]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] ADD  DEFAULT (sysdatetime()) FOR [f_registro]
GO
ALTER TABLE [dbo].[tb_asistencia] ADD  CONSTRAINT [DF_asistencia_fecha]  DEFAULT (CONVERT([date],getdate())) FOR [fecha_asistencia]
GO
ALTER TABLE [dbo].[tb_asistencia] ADD  CONSTRAINT [DF_asistencia_hora]  DEFAULT (CONVERT([time](0),getdate())) FOR [hora_registro]
GO
ALTER TABLE [dbo].[tb_asistencia] ADD  DEFAULT (sysdatetime()) FOR [f_hora]
GO
ALTER TABLE [dbo].[tb_asistencia] ADD  DEFAULT (sysdatetime()) FOR [f_registro]
GO
ALTER TABLE [dbo].[tb_asistencia] ADD  DEFAULT ((1)) FOR [vigencia]
GO
ALTER TABLE [dbo].[tb_especialidades] ADD  DEFAULT (sysdatetime()) FOR [f_registro]
GO
ALTER TABLE [dbo].[tb_especialidades] ADD  DEFAULT ((1)) FOR [vigencia]
GO
ALTER TABLE [dbo].[tb_estudiantes] ADD  DEFAULT (sysdatetime()) FOR [f_registro]
GO
ALTER TABLE [dbo].[tb_estudiantes] ADD  DEFAULT ((1)) FOR [vigencia]
GO
ALTER TABLE [dbo].[tb_usuarios] ADD  DEFAULT ((1)) FOR [vigencia]
GO
ALTER TABLE [dbo].[tb_usuarios] ADD  DEFAULT (sysdatetime()) FOR [f_registro]
GO
ALTER TABLE [dbo].[tb_usuarios] ADD  CONSTRAINT [DF_usuarios_debe_cambiar_clave]  DEFAULT ((0)) FOR [debe_cambiar_clave]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad]  WITH CHECK ADD  CONSTRAINT [FK_detalle_especialidad] FOREIGN KEY([id_especialidad])
REFERENCES [dbo].[tb_especialidades] ([id_especialidad])
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] CHECK CONSTRAINT [FK_detalle_especialidad]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad]  WITH CHECK ADD  CONSTRAINT [FK_detalle_estudiante] FOREIGN KEY([id_estudiante])
REFERENCES [dbo].[tb_estudiantes] ([id_estudiante])
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] CHECK CONSTRAINT [FK_detalle_estudiante]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad]  WITH CHECK ADD  CONSTRAINT [FK_detalle_modifica] FOREIGN KEY([usu_modifica])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] CHECK CONSTRAINT [FK_detalle_modifica]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad]  WITH CHECK ADD  CONSTRAINT [FK_detalle_registra] FOREIGN KEY([usuario_registra])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] CHECK CONSTRAINT [FK_detalle_registra]
GO
ALTER TABLE [dbo].[tb_asistencia]  WITH CHECK ADD  CONSTRAINT [FK_asistencia_detalle] FOREIGN KEY([id_detalle])
REFERENCES [dbo].[detalle_estudiante_especialidad] ([id_detalle])
GO
ALTER TABLE [dbo].[tb_asistencia] CHECK CONSTRAINT [FK_asistencia_detalle]
GO
ALTER TABLE [dbo].[tb_asistencia]  WITH CHECK ADD  CONSTRAINT [FK_asistencia_modifica] FOREIGN KEY([usu_modifica])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_asistencia] CHECK CONSTRAINT [FK_asistencia_modifica]
GO
ALTER TABLE [dbo].[tb_asistencia]  WITH CHECK ADD  CONSTRAINT [FK_asistencia_registra] FOREIGN KEY([usuario_registra])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_asistencia] CHECK CONSTRAINT [FK_asistencia_registra]
GO
ALTER TABLE [dbo].[tb_especialidades]  WITH CHECK ADD  CONSTRAINT [FK_especialidades_modifica] FOREIGN KEY([usu_modifica])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_especialidades] CHECK CONSTRAINT [FK_especialidades_modifica]
GO
ALTER TABLE [dbo].[tb_especialidades]  WITH CHECK ADD  CONSTRAINT [FK_especialidades_registra] FOREIGN KEY([usuario_registra])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_especialidades] CHECK CONSTRAINT [FK_especialidades_registra]
GO
ALTER TABLE [dbo].[tb_estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_modifica] FOREIGN KEY([usu_modifica])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_estudiantes] CHECK CONSTRAINT [FK_estudiantes_modifica]
GO
ALTER TABLE [dbo].[tb_estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_registra] FOREIGN KEY([usuario_registra])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_estudiantes] CHECK CONSTRAINT [FK_estudiantes_registra]
GO
ALTER TABLE [dbo].[tb_estudiantes]  WITH CHECK ADD  CONSTRAINT [FK_estudiantes_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_estudiantes] CHECK CONSTRAINT [FK_estudiantes_usuario]
GO
ALTER TABLE [dbo].[tb_usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_modifica] FOREIGN KEY([usu_modifica])
REFERENCES [dbo].[tb_usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[tb_usuarios] CHECK CONSTRAINT [FK_usuarios_modifica]
GO
ALTER TABLE [dbo].[tb_usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles] FOREIGN KEY([id_rol])
REFERENCES [dbo].[tb_roles] ([id_rol])
GO
ALTER TABLE [dbo].[tb_usuarios] CHECK CONSTRAINT [FK_usuarios_roles]
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad]  WITH CHECK ADD  CONSTRAINT [CK_detalle_semestre] CHECK  (([semestre]>=(1) AND [semestre]<=(6)))
GO
ALTER TABLE [dbo].[detalle_estudiante_especialidad] CHECK CONSTRAINT [CK_detalle_semestre]
GO
ALTER TABLE [dbo].[tb_asistencia]  WITH CHECK ADD  CONSTRAINT [CK_asistencia_estado] CHECK  (([estado]='F' OR [estado]='T' OR [estado]='P'))
GO
ALTER TABLE [dbo].[tb_asistencia] CHECK CONSTRAINT [CK_asistencia_estado]
GO
ALTER TABLE [dbo].[tb_estudiantes]  WITH CHECK ADD  CONSTRAINT [CK_estudiantes_dni] CHECK  ((NOT [dni] like '%[^0-9]%' AND len([dni])=(8)))
GO
ALTER TABLE [dbo].[tb_estudiantes] CHECK CONSTRAINT [CK_estudiantes_dni]
GO
ALTER TABLE [dbo].[tb_estudiantes]  WITH CHECK ADD  CONSTRAINT [CK_estudiantes_genero] CHECK  (([genero] IS NULL OR ([genero]='F' OR [genero]='M')))
GO
ALTER TABLE [dbo].[tb_estudiantes] CHECK CONSTRAINT [CK_estudiantes_genero]
GO
/****** Objeto: StoredProcedure [dbo].[sp_buscar_asistencia_estudiante] Fecha de script: 13/06/2026 11:47:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_buscar_asistencia_estudiante]
    @busqueda VARCHAR(100),
    @fecha_inicio DATE = NULL,
    @fecha_fin DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM dbo.vw_resumen_asistencia
    WHERE (
        codigo LIKE '%' + @busqueda + '%'
        OR estudiante LIKE '%' + @busqueda + '%'
    )
      AND (@fecha_inicio IS NULL OR fecha_asistencia >= @fecha_inicio)
      AND (@fecha_fin IS NULL OR fecha_asistencia <= @fecha_fin)
    ORDER BY fecha_asistencia DESC;
END;
GO
USE [master]
GO
